<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enter Mobile Number</h4>
      </div>
      <div class="modal-body">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-lg" ng-class="{true:'has-error'}[nameDialog.mobile.$dirty && nameDialog.mobile.$invalid]">
            <label class="control-label" for="mobile">Mobile Number:</label>
            <input type="text" class="form-control" name="mobile" id="mobile" ng-model="user.mobile" ng-keyup="hitEnter($event)" required>
            <span class="help-block">Enter your mobile number.</span>
          </div>
        </ng-form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('')" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="close(user.mobile)" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
